*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
}

body {
  margin: 0;
  scroll-behavior: smooth;
  line-height: 1.5;
  color: $black;
  background-color: $white;
  position: relative;
  font-family: $fontfamily;
  font-weight: inherit;
  color: $purple;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

button {

}


p {
  margin: 0;
}
