$black: #000;
$white: #FFF;
$grey: #8A98BA;
$lightgrey: #f3f3f3;

$lightpurple: #a491d3;
$purple: #222455;
$darkpurple: #8777ac;
$flashpurple: #6c63ff;
$yellow: #FFCC00;
$gradient-1: linear-gradient(0deg, rgba(255,86,115,1) 0%, rgba(255,140,72,1) 100%);
$gradient-2: linear-gradient(180deg, rgba(255,70,101,1) 0%, rgba(131,43,246,1) 100%);


$boxshadow: 0px 3px 15px rgba(0, 0, 0, 0.08);

// Media queries

$xs: 370px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;