$black: #494949;
$white: #faf9f9;
$grey: #cfcfcf;
$lightgrey: #f3f3f3;

$lightpurple: #a491d3;
$purple: #222455;
$darkpurple: #8777ac;

$boxshadow: 0px 3px 15px rgba(0, 0, 0, 0.08);

// Media queries

$xs: 370px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;